<h1>What is Cloud?</h1>
<p><em>Someone else&apos;s computer...</em></p>

<q>AWS, Microsoft Azure and Google Cloud Platform offer largely similar basic capabilities around flexible compute, storage and networking...</q>
<p>(Search for "cloud azure vs")</p>
<h2>Use cases</h2>
<p>On and off workloads: scale for the batch work</p>
<p>Scaling fast: scale for yearly sales</p>
<p>Predictable bursting: scale during the week-days</p>
<p>Unpredictable bursting: scale automatically during sudden demand</p>
<a routerLink="/topics-covered">Topics Covered at Azure DD</a>
