<h1>Topics Covered at Azure DD</h1>
<p>Not just for developers. Four major sections</p>
<ul>
  <li>Introduction</li>
  <ul>
    <li>Overview "Cloud is computers"</li>
    <li>Hybrid Cloud "Some in the cloud, some on-premise"</li>
    <li>Security &amp; Compliance "We do security well"</li>
  </ul>
  <li>Management</li>
  <ul>
    <li>Identity "Bring your own (migrate/pass-through) AD"</li>
    <li>Azure Portal "Classic is deprecated. Great UI..."</li>
    <li>ARM Templates "...use the shell. Easy to work at scale."</li>
  </ul>
  <li><dfn title="Infrastructure as a Service">IaaS</dfn> (Infrastructure as a Service)</li>
  <ul>
    <li>Websites "Websites, APIs, mobiles apps? Yes"</li>
    <li>Databases "Absolutely! Less hands-on for DBAs"</li>
  </ul>
  <li><dfn title="Platform as a Service">PaaS</dfn> (Platform as a Service)</li>
  <ul>
    <li>Networking "Less hands-on for Network/Ops..."</li>
    <li>Storage "Scale up/down. Pay per <em>million</em> calls"</li>
    <li>Compute "Scale up/down"</li>
  </ul>
</ul>
