<h1>Topics Covered at Azure DD</h1>
<p>Not just for developers. Four major sections</p>
<ul>
  <li>Introduction</li>
  <ul>
    <li>Overview</li>
    <li>Hybrid Cloud</li>
    <li>Security &amp; Compliance</li>
  </ul>
  <li>Management</li>
  <ul>
    <li>Identity</li>
    <li>Azure Portal</li>
    <li>ARM Templates</li>
  </ul>
  <li><dfn title="Infrastructure as a Service">IaaS</dfn> (Infrastructure as a Service)</li>
  <ul>
    <li>Websites</li>
    <li>Databases</li>
  </ul>
  <li><dfn title="Platform as a Service">PaaS</dfn> (Platform as a Service)</li>
  <ul>
    <li>Networking</li>
    <li>Storage</li>
    <li>Compute</li>
  </ul>
</ul>
<a routerLink="/topics-covered-explained">Please explain</a>
